/* SECCION: MAT- ELECTRICOS */
.grid-wrapper-electricos{
    width: 70%; /* para centrar el contenido de las imagenes y que quede espacio en ambos costados */
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 15px 15px;
    margin: 20px auto;
    text-align: center;
    justify-content: space-around;
  }
  .grid-wrapper-electricos img{
    max-height: 300px;
    padding: 25px;
    margin: 0 auto;
  }

  /* SECCION: ILUMINACION */
.wrapper-ilu{
    width: 70%;
    display: block;
    justify-content: space-around;
  }
  .ilu-img img{
    align-content: space-around;
    max-height: 300px;
    padding: 20px;
  }
  
  .wrapper-ilu a {
    font-family: $font-general-text;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }