$bg-color-body: #EBEBEB;
$bg-color-header-top:#DEB841;
$bg-color-header-main: #37323E; 
$bg-color-footer: #E3B23C;


$font-general-text: 'Rajdhani', sans-serif;
$font-general-size: 12px;
$font-color-header-title: whitesmoke;
$nav-link-color:rgb(240, 235, 240);


$border-bottom-header-top: solid 3px #6D6A75;
$border-top-footer: solid 3px #D3960D;


